

<div align="center">
  <%= form_for @userinput, :url => { :action => "pick" } do |f| %>
      <%= f.text_field  :giveawaylink %>
      <%= f.submit "Pick the winner!", class: "btn btn-primary" %>
  <%end%>
</div>

