<div align="center">
  <h3><%= "The winner is:" %></h3>

  <img src="<%= @winners_avatar %>" alt="giveaway winner's avatar"</img>
  <h2><a href="http://<%= @winners_blog_link %>"><%= @winner.split("").join(" ") %></a></h2>
</div>
